@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #0f172a;
    --card-bg: rgba(15, 23, 42, 0.5);
    --text-main: white;
    --text-muted: #94a3b8;
    --border-color: rgba(255, 255, 255, 0.1);
    --grid-opacity: 0.05;
}

.light-mode {
    --bg-color: #f8fafc;
    --card-bg: white;
    --text-main: #0f172a;
    --text-muted: #64748b;
    --border-color: rgba(0, 0, 0, 0.05);
    --grid-opacity: 0.2;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
    transition: 0.3s ease;
}

/* =============================================================== */
/* =============================================================== */
/* =============================================================== */

/* THEME TOGGLE BTN */
.theme-toggle-btn {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 100;
    backdrop-filter: blur(8px);
    padding: 12px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgb(228, 208, 32);
    transition: 0.3s ease;
}

.theme-toggle-btn:hover {
    background-color: rgba(255, 255, 255, 0.08);
    transform: scale(1.08);
}

.theme-toggle-btn:active {
    transform: scale(0.9);
}

.theme-toggle-btn svg {
    width: 25px;
    height: 25px;
}

/* =============================================================== */
/* =============================================================== */

/* MAIN CONTENT */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-top: 100px;
    max-width: 1200px;
}

/* HEADER */
/* HEADER */
.header .tag-title {
    padding: 5px 20px;
    margin-bottom: 20px;
    background-color: rgba(31, 178, 241, 0.13);
    display: inline-block;
    border-radius: 5000px;
    border: 1px solid rgba(31, 178, 241, 0.4);
    color: #1fb2f1;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.header h1 {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 10px;
}

.header h1 span {
    color: transparent;
    background-image: linear-gradient(to right, #38bdf8, #6366f1);
    background-clip: text;
    -webkit-background-clip: text;
}
.header p{
    color: var(--text-muted);
    font-size: 17px;
}
/* ---------------------------------------- */

/* MODULE CARDS */
/* MODULE CARDS */
.module-card {
    display: block;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    transition: 0.4s ease;
}
.module-card:hover:not(.locked) {
    background: rgba(56, 189, 248, 0.05);
    border-color: #38bdf8;
    transform: translateY(-10px);
}
.module-card:active:not(.locked) {
    transform: scale(0.9);
}
.module-card.locked {
    cursor: not-allowed;
    opacity: 0.5;
}


.module-card .icon-cont{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}
.module-card .icon-cont1{
    background-color: rgba(41, 179, 239, 0.2);
    color: #1fb2f1;
}
.module-card .icon-cont2{
    background-color: rgba(119, 110, 239, 0.2);
    color: #7672ed;
}
.module-card .icon-cont3{
    background-color: rgba(57, 69, 87, 0.2);
    color: #4d627e;
}

.module-card .icon-cont svg{
    height: 25px;
    width: 25px;
}
.module-card:hover:not(.locked) .icon-cont{
    transform: scale(1.1);
}


.module-card .title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.module-card .title.locked{
    color: #95a8c1;
}
.module-card .desc {
    color: var(--text-muted);
    font-size: 15px;
    margin-bottom: 20px;
}
.module-card .desc.locked{
    color: #4d627e;
}


.fake-link{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s ease;
}
.fake-link1{
    color: #1fb2f1;
}
.fake-link2{
    color: #9e6bc3;
}
.fake-link3{
    color: #4d627e;
}
.fake-link3.locked{
    font-size: 12px;
}

.fake-link svg{
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-left: 5px;
    transition: 0.3s ease;
}
.module-card:hover .fake-link svg{
    transform: translateX(5px);
}









.grid-bg {
    background-image: radial-gradient(circle at 2px 2px, rgba(148, 163, 184, var(--grid-opacity)) 1px, transparent 0);
    background-size: 40px 40px;
}








